{{#if messages.errors}}
  <div class="alert alert-danger fade show">
      <button class="close" type="button" data-dismiss="alert">
          <i class="far fa-times-circle"></i>
      </button>
    {{#each messages.errors}}
        <div>{{msg}}</div>
    {{/each}}
</div>
{{/if}}
{{#if messages.info}}
    <div class="alert alert-info fade show"></div>
        <button class="close" type="button" data-dismiss="alert">
            <i class="far fa-times-circle"></i>
        </button>
        {{#each messages.info}}
            <div>{{msg}}</div>
        {{/each}}
    </div>
{{/if}}
{{#if messages.success}}
    <div class="alert alert-success fade show"></div>
        <button class="close" type="button" data-dismiss="alert">
            <i class="far fa-times-circle"></i>
        </button>
        {{#each messages.info}}
            <div>{{msg}}</div>
        {{/each}}
    </div>
{{/if}}
