{% if messages.errors %}
    <div class="alert alert-danger fade show">
        <button class="close" type="button" data-dismiss="alert">
            <i class="far fa-times-circle"></i>
        </button>
        {% for error in messages.errors %}
            <div>{{error.msg}}</div>
        {% endfor %}
    </div>
{% endif %}
{% if messages.info %}
    <div class="alert alert-info fade show">
        <button class="close" type="button" data-dismiss="alert">
            <i class="far fa-times-circle"></i>
        </button>
        {% for info in messages.info %}
            <div>{{info.msg}}</div>
        {% endfor %}
    </div>
{% endif %}
{% if messages.success %}
    <div class="alert alert-success fade show">
        <button class="close" type="button" data-dismiss="alert">
            <i class="far fa-times-circle"></i>
        </button>
        {% for success in messages.success %}
            <div>{{success.msg}}</div>
        {% endfor %}
    </div>
{% endif %}