BASE_URL=http://localhost:8080
MONGODB_URI=mongodb://localhost:27017/test

SESSION_SECRET=Your Session Secret goes here

MAILGUN_USER=postmaster@sandbox697fcddc09814c6b83718b9fd5d4e5dc.mailgun.org
MAILGUN_PASSWORD=29eldds1uri6

SENDGRID_USER=hslogin
SENDGRID_PASSWORD=hspassword00

FACEBOOK_ID=754220301289665
FACEBOOK_SECRET=41860e58c256a3d7ad8267d3c1939a4a

GOOGLE_ID=828110519058.apps.googleusercontent.com
GOOGLE_SECRET=JdZsIaWhUFIchmC1a_IZzOHb

HERE_APP_ID=aHxxxxxxxxxxxxxxlIgc
HERE_APP_CODE=9bxxxxxxxxxxxxxxxxJFHg

ALPHA_VANTAGE_KEY=api-key